<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>search the arXiv | about</title>

    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel= "stylesheet" type= "text/css" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="header">
      <a id="logo" href="/"><span class="black">search</span><span class="gray">the</span><span class="red">arXiv</span></a>
    </div>
    <div id="container" style="margin-bottom:50px;">
      <p id="about_title" class="black">about</p>
      <p class="about_text black">Usage: you copy the title of the submitted paper and get the most competent reviewers from the TSE author community via "Reviewers".</p>
      <p class="about_text black">
        What criteria does it use to select people from the TSE author community? 
        Having published at least once in TSE
      </p>
      <p class="about_text black">
        What are the differences w.r.t the Manuscript Central reviewer search functionality?<br/>
1) Manuscript Central recommends beyond the TSE author community, it recommends in the whole IEEE / MC database <br/>
2) Manuscript Central use an inferior recommendation algorithm<br/>
3) Manuscript Central does not decorate the Reviewer results with the <a href="">reviewer credit</a>.<br/>
      </p>
    </div>
  </body>
</html>
